.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: fixed;
}

.logo-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 75px;
  left: 75px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.logo-text-line {
  font-weight: bold;
  color: #faefe0;
  font-size: 40px;
  font-family: "HKGrotesk", HKGrotesk-Light;
  line-height: 1.1;
  max-width: 200px;
  white-space: nowrap; /* Prevent text from wrapping */
}

body {
  background: url(https://qtxasset.com/quartz/qcloud5/media/image/GettyImages-1300036753thisone.jpg?VersionId=gN_SUq436ytBNKaO0mAKZU9B0KWYhqt5)
    no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.form-body {
  background: #96cfdb;
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.form {
  background: #f8e06a;
  border: none;
  border-radius: 15px;
  width: 40%;
  height: 30%;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  font-family: "HKGrotesk", HKGrotesk Regular;
  font-size: 20pt;
}

.form .form-control {
  margin-bottom: 10px;
  margin-left: 10px;
  width: 96.5%;
  opacity: 85%;
}

.form-side {
  background: #f8e06a;
  width: 45%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}

.form-image {
  background: url(https://cdn.prgloo.com/media/b52c054ed7c342e8be0db817aec19cd5.jpg?width=968&height=1452)
    no-repeat right bottom;
  border: none;
  border-radius: 15px;
  width: 45%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 50px;
}

.form .form-button {
  background-color: #faefe0;
  border: 2px solid #faefe0;
  color: black;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 12pt;
  transition: background-color 0.25s ease-in;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

.alert-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.alert.alert-warning {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  display: flex;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.alert-container.fade-out .alert.alert-warning {
  opacity: 0;
}

.accept-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accept-button {
  background-color: #fff4cc;
  border: 2px solid black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 16px;
  width: 200px;
  transition: background-color 0.25s ease-in;
}

.accept-button:hover {
  background-color: #539848;
}

.output-box {
  background-color: #f8e06a;
  border: none;
  border-radius: 15px;
  width: 60vw;
  height: 55%;
  text-align: left;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  overflow: auto;
  margin-bottom: 0;
}

.text-box {
  margin-top: 5%;
  margin-left: 3.5%;
  margin-bottom: 0;
  width: 90%; /* Set width relative to parent */
  height: 80%; /* Set height relative to parent */
  overflow: hidden;
}

.text-line {
  font-family: "HKGrotesk", HKGrotesk Regular;
  font-size: calc(3vw + 3vh); /* Adjusted font size using vw and vh units */
  color: black;
}

.text-line-bold {
  font-family: "HKGrotesk", HKGrotesk Bold;
  font-size: calc(3vw + 3vh); /* Adjusted font size using vw and vh units */
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-selector-container {
  display: flex;
  justify-content: center;
  height: 5vh;
  margin-top: 0px;
}

.user-selector-button {
  padding: 10px 20px; /* Adjusted padding for better proportions */
  margin: 0 10px; /* Adjusted margin for better spacing */
  font-size: 1rem; /* Using rem units for font size */
  cursor: pointer;
  height: 14%;
  width: 47%;
  border: 2px solid #96cfdb; /* Changed border color */
  border-radius: 6px; /* Increased border-radius for a softer look */
  background-color: #96cfdb; /* Changed background color */
  color: #000; /* Set text color to white for better contrast */
  transition: all 0.3s ease;
}

.user-selector-button:hover {
  background-color: #d5d5d5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.back-button {
  top: 75px;
  left: 75px;
  border-radius: 50% !important;
  color: rgb(42, 42, 42);
  border: none !important;
  padding: 30px 30px !important;
  transition: background-color 1s, transform 0.5s;
}



.btn {
  border-width: 2px !important;
  border-color: black !important;
  color: black !important;
}

.btn:hover {
  background-color: #98d4dc !important;
}