/*
  This is a reasonable starting point for the CSS in Mock.
  Positioning in CSS can sometimes be annoying to manage, so we've opted to 
  give you this starter CSS. Feel free to modify it as you wish, though.
*/
.repl {
  position: relative;
  min-height: 69vh;
  max-height: 70vh;
  display: flex; /*this is added*/
  flex-direction: column; /*this is added*/
}


.repl-history {
  height: 55vh;
  margin: auto;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.repl-input {
  margin: auto;
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.repl-command-box {
  width: 90%;
  margin: auto;
  display: block;
}

button {
  margin: auto;
  display: block;
  font-size: 1em;
}

table {
  width: 40%;
  margin-bottom: 20px;
}

table,
td {
  border: 1px solid #000000;
}

td {
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #544e4e;
}

tr:nth-child(odd) {
  background-color: #6a5f6a;
}

tr:hover {
  background-color: #797878;
}

.help-box {
  justify-content: center;
  align-items: center;
}

.help-button {
  margin: auto;
  display: block;
  font-size: 1em;
}

.notes {
  border-top: 1px dashed #ccc;
  padding-top: 10px;
  justify-content: center;
  width: 100%;
}


  